---
layout: default
title: Project Meetings
group: Meetings

---

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Intel-NSF ICN-WEN Kickoff workshop</h3>
    </div>
    <div class="panel-body">
      <b>June 21-22, 2017</b>
      <hr/>
      {% capture prefix %}{{ site.baseurl }}/meetings/2017-ICN-WEN-Kickoff{% endcapture %}
      <ul>
        <li>
          <a href="{{ prefix }}/NDN-Tutorial-part1.pdf">
            <b>NDN Tutorial part 1</b>: A 1000 feet view on NDN (Patric Crowley, Washington University St. Louis)
            <br/>
            <div class="row">
              <div class="col-md-push-2 col-md-10">
                <iframe width="100%" height="200" src="https://www.youtube.com/embed/lZ3w0VAddgs" frameborder="0" allowfullscreen></iframe>
              </div>
              {% comment %}
              {% for num in (1..6) %}
	        <div class="col-md-2 col-sm-2 {% if num <= 3 %}col-xs-4{% else %}hidden-xs{% endif %}">
		  <div class="boxed-content">
                    <img style="max-width:100%" src="{{ prefix }}/previews/NDN-Tutorial-part1-{{ num }}.jpg" />
		  </div>
                </div>
              {% endfor %}
              {% endcomment %}
            </div>
          </a>
        </li>
        <li>
          <a href="{{ prefix }}/NDN-Tutorial-part2.pdf">
            <b>NDN Tutorial part 2</b>: The secret sauce of NDN (Alex Afanasyev, UCLA)
            <br/>
            <div class="row">
              <div class="col-md-push-2 col-md-10">
                <iframe width="100%" height="200" src="https://www.youtube.com/embed/gDh8ZPrmqtw" frameborder="0" allowfullscreen></iframe>
              </div>
                {% comment %}
              {% for num in (1..6) %}
	        <div class="col-md-2 col-sm-2 {% if num <= 3 %}col-xs-4{% else %}hidden-xs{% endif %}">
		  <div class="boxed-content">
                    <img style="max-width:100%" src="{{ prefix }}/previews/NDN-Tutorial-part2-{{ num }}.jpg" />
		  </div>
                </div>
              {% endfor %}
              {% endcomment %}
            </div>
          </a>
        </li>
        <li>
          <a href="{{ prefix }}/ICE-AR-Intro.pdf">
            <b>Advancing Applications from the Edge In with Information-Centric Networking</b> (Jeff Burke, UCLA)
            <br/>&nbsp;
          </a>
        </li>
        <li>
          <a href="{{ prefix }}/ICE-AR-Wireless.pdf">
            <b>Symbiotic Apps-Wireless Architecture via Named Data</b> (Yuanjie Li, UCLA)
            <br/>&nbsp;
          </a>
        </li>
        <li>
          <a href="{{ prefix }}/ICE-AR-Security.pdf">
            <b>Security and Private Wireless-Edge Networking via Named Data</b> (Jay Misra, New Mexico State University)
            <br/>&nbsp;
          </a>
        </li>
        <li>
          <a href="{{ prefix }}/ICE-AR-AaaS.pdf">
            <b>Edge Acceleration-as-a-Service</b> (Jason Cong, UCLA)
            <br/>&nbsp;
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
