<!-- FOOTER -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-10">
	<!-- COLUMN 1 -->
	<p>
          NDN-CRI Project funded funded by the NSF under awards CNS-1629922, CNS-1629009, CNS-1629769, and CNS-1629807, 2016-2019.
        </p>
	<!-- END COLUMN 1 -->
      </div>
    </div>
  </div>
  <!-- COPYRIGHT -->
  <div class="text-center copyright">
    &copy;2016 {{ site.author }}. All Rights Reserved.
  </div>
  <!-- END COPYRIGHT -->
</footer>
<!-- END FOOTER -->
