<!-- MAIN NAVIGATION -->
<div id="main-nav" class="navbar-collapse collapse navbar-mega-menu">
  <ul class="nav navbar-nav navbar-right">
    {% for item in site.navbar_list %}
      {% if item.name == page.group %}{% assign active = 'active' %}
      {% else %}{% assign active = nil %}{% endif %}
      {% if item.submenu %}
        <li class="dropdown {{ active }}">
          <a class="dropdown-toggle" href="#" data-toggle="dropdown">{{ item.name }} <i class="fa fa-angle-down"></i></a>
          
          <ul class="dropdown-menu" role="menu">
            {% for sub in item.submenu %}
              <li><a href="{{ site.baseurl }}{{ sub.link }}">{{ sub.name }}</a></li>
            {% endfor %}
          </ul>
        </li>
      {% else %}
        <li class="{{ active }}">
          <a href="{{ site.baseurl }}{{ item.link }}">{{ item.name }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
<!-- END MAIN NAVIGATION -->
